/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #666;
    border-top: 10px solid #4ba;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    padding-top: 25px;
    margin-top: 20px;
  }