body {
    background-color: #A9A6D5;
}
main, #gameContainer { 
    overflow: auto;
    margin-bottom: 20px;
}
footer, header, #gameContainer {
    background-color: #ffff;
    margin-bottom: 10px;
    /* text-align: center; */
}
#answers {
    overflow: auto;
    padding-top: 15px;
    /* text-align: left; */
}
#question{
    height: 100px;
    overflow: auto;
    font-size: 30px;
    padding-top: 20px;
}

footer, header{
    height: 100px; 
}
footer { 
    padding: 40px;
}
header {
    padding: 6px;
}

.thumbnail {
    height: 100px;
    width: 100px;
}
label {
    width: 300px;
}

.gif {
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}