body {
    background-image: url("../images/gotbg.png"),
    linear-gradient(#c25115, white, #c25115);
    color: #704214;
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
}
main, #gameContainer { 
    overflow-y: auto;
    overflow-x: hidden;
}
main { 
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#gameContainer {
    background-color:#f3eddd;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}
#answers {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 15px;
}
#question{
    height: auto;
    font-size: 50px;
    padding-top: 20px;
    font-family: 'Amita', cursive;
    color: #42270C;
}
.questionBorder {
    border-bottom: 2px dotted #00A8AD;
    width: 75%;
    display: block;
    margin: 0 auto;
}

header {
    background: linear-gradient(rgba(194,81,21,1), rgba(255,255,255, .5) 91%, rgba(255,255,255, .0));
}
footer {
    background: linear-gradient(rgba(255,255,255, .0), rgba(255,255,255, .5) 28%, rgba(194,81,21,1));
    height: auto;
    padding-top: 20px;
    font-size: 15px;
    color: #42270C;
}
h2 {
    font-family: 'Merienda One', cursive;
    font-size: 86px;
    position: relative;
    top: -38px;
    left: 44%;
    color: #00A8AD;
    text-shadow: 2px 2px #fbf188, -2px -2px #fbf188, 4px 4px #FF8A40, -4px -4px #FF8A40;
    margin: -11px;
    width: 50%;
}

.thumbnail {
    height: 100px;
    width: 100px;
}
label {
    width: 300px;
}

.gif {
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.startGame {
    margin: 15px 0;
}
.radio {
    margin: 0;
}
a { 
    text-decoration: none;
    color: #42270C;
}
a:hover {
    text-decoration: none;
    color: #00A8AD;
}

.blue {
    color: #00A8AD;
}
.btn-primary {
    background-color: #00A8AD;
    border: 1px solid #00A8AD;
}