body {
    background-color: #A9A6D5;
}
main, #gameContainer { 
    overflow: auto;
    margin-bottom: 20px;
}
footer, header, #gameContainer {
    background-color: #ffff;
    margin-bottom: 10px;
    /* text-align: center; */
}
#answers {
    background-color: red;
    overflow: auto;
    padding-top: 15px;
    /* text-align: left; */
}
#question{
    background-color: blue;
    height: 100px;
    overflow: auto;
    font-size: 30px;
    padding-top: 20px;
}

footer, header{
    height: 100px; 
    padding: 40px;
}

.thumbnail {
    height: 100px;
    width: 100px;
}
label {
    width: 300px;
}

.gif {
    margin: 0 13%;
}